= form_tag action_name, method: :get do
  %label Search film:
  .input-group.mb-3
    = text_field_tag :search, params[:search], placeholder: 'Enter film title', class: 'form-control'
    = text_field_tag :year, params[:year], placeholder: 'Enter film release year', class: 'form-control'
    .input-group-append
      %button.btn.btn-primary search
= @film_search.show_api_poster if @film_search
= simple_form_for @film do |f|
  = f.error_notification
  = f.input :title, as: :string
  = f.input :description, as: :string
  = f.input :genre, as: :check_boxes, collection: Film::GENRES, checked: (@film.genre if !@film.genre.empty?), wrapper: :vertical_collection_inline
  = f.input :cover_img, as: :file, input_html: { data: { direct_upload_url: '/rails/active_storage/direct_uploads' } }
  = f.input :film_link, as: :file, input_html: { data: { direct_upload_url: '/rails/active_storage/direct_uploads' } }
  = f.button :submit
  = link_to 'back', :back, class: 'btn btn-secondary'