%h1.text-center.film-name= @film.title
- if @film.film_link.attached?
  = video_tag rails_blob_path(@film.film_link), controls: true, id: 'mustsee-video'
%p= @film.description
%div
  - if current_user.try(:admin?)
    = film.delete_link
    = link_to 'Delete all', @film,
    method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
    = link_to 'Edit', edit_film_path(@film), class: 'btn btn-success'
  = render 'reviews/form'
  = render @film.reviews
  = link_to 'Back', films_path, class: 'btn btn-secondary'
