%p= @film.title
%p= @film.description
- if @film.film_link.attached?
  = video_tag rails_blob_path(@film.film_link), controls: true, width: '100%'
%div
  - if current_user.admin?
    = film.delete_link
    = link_to t('Delete all'), @film,
    method: :delete, data: { confirm: t('are_you_sure') }, class: 'btn btn-danger'
    = link_to t('edit'), edit_film_path(@film), class: 'btn btn-success'
  = link_to t('back'), films_path, class: 'btn btn-secondary'
