= simple_form_for ([@film, @review]) do |f|
  = f.error_notification
  = f.input :user_id, disabled: true, as: :hidden
  = f.input :rating, collection: 1..5
  = f.input :review_body, as: :text
  = f.button :submit, class: 'btn btn-primary'
